In [ ]:
#1234567890123456789012345678901234567890123456789012345678901234567890123456789

# Module 4 - Working With Data

## Table of Contents

- 4.1 **[Reading Files with Open](#4.1)**
    - 4.1.1 [Download Data](#4.1.1)
    - 4.1.2 [Reading Text Files](#4.1.2)
    - 4.1.3 [Using <code>with</code> to Open Files](#4.1.3)
- 4.2 **[Writing Files with Open](#4.2)**
    - 4.2.1 [Writing Files](#4.2.1)
    - 4.2.2 [Copying Files](#4.2.2)
- 4.3 **[Loading Data with Pandas](#4.3)**
    - 4.3.1 [Importing csv Files](#4.3.1)
    - 4.3.2 [Importing Excel Files](#4.3.2)
    - 4.3.3 [Creating Dataframes](#4.3.3)
    - 4.3.4 [Accessing Data from Dataframes](#4.3.4)
    - 4.3.5 [Pandas Quiz](#4.3.5)
- 4.4 **[Working with and Saving Data with Pandas](#4.4)**
- 4.5 **[API's](#4.5)**

## 4.1 Reading Files with Open <a id='4.1'></a>

### 4.1.1 Download Data <a id='4.1.1'></a>

In [31]:
# Download example file from url using wget

!wget -O data/example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2020-12-30 14:26:47--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: 'cognitiveclass-materials/example1.txt'

     0K                                                       100% 47.5K=0.001s

2020-12-30 14:26:48 (47.5 KB/s) - 'cognitiveclass-materials/example1.txt' saved [45/45]

### 4.1.2 Reading Text Files <a id='4.1.2'></a>

The built-in <code>open</code> function in Python can be used to read or write to files. It provides a file object that contains methods and attributes required to read, save, and manipulate the file.

In [32]:
# Read the example1.txt

example1 = "data/example1.txt"
file1 = open(example1, "r")

In [33]:
# View attributes of the file - path and name

file1.name

'cognitiveclass-materials/example1.txt'

In [34]:
# View attributes of the file - mode ('r' or 'w')

file1.mode

'r'

In [8]:
# Read the file and assign it to the variable file_content

file_content = file1.read()
file_content

'This is line 1 \nThis is line 2\nThis is line 3'

In [9]:
# Print the file with '\n' as a new line

print(file_content)

This is line 1
This is line 2
This is line 3

In [10]:
# Check type of file_content

type(file_content)

str

In [35]:
# Close the file after finishing (always necessary)

file1.close()

### 4.1.3 Using <code>with</code> to Open Files <a id='4.1.3'></a>

It is best practice to use the <code>with</code> statement when opening a file. This ensures the file will automatically close after running code in the indent block, even if an exception is raised.

In [12]:
# Open file using with statement

with open(example1, "r") as file1:
    file_content = file1.read()
    print(file_content)

This is line 1
This is line 2
This is line 3

In [14]:
# Verify the file was closed automatically

file1.closed

True

In [16]:
# View the info extracted from the file in the variable file_content

print(file_content)

This is line 1
This is line 2
This is line 3

In [17]:
# Read the first four characters of the file

with open(example1, "r") as file1:
    print(file1.read(4))

This

Once the method <code>.read(4)</code> is called, the first characters are printed. If we call the method again, the subsequent characters will be called. See the examples below:

In [18]:
# Read characters from a file sequentially

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [19]:
# Read a different number of characters from the file

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

One line of a file at a time can be read using the method <code>readline()</code>:

In [22]:
# Read one line at a time using readline()

with open(example1, "r") as file1:
    print("The first line is:", file1.readline())

The first line is: This is line 1

A loop can be used to iterate through each line:

In [24]:
# Iterate through each line of a file

with open(example1, "r") as file1:
    i = 0
    for line in file1:
        print("Iteration", str(i), ":", line)
        i = i + 1

Iteration 0 : This is line 1

Iteration 1 : This is line 2

Iteration 2 : This is line 3

The method <code>readlines()</code> can be used to save the file to a list:

In [29]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    file_list = file1.readlines()

print(file_list)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [28]:
# Each element of the list corresponds to a line

print(file_list[0])
print(file_list[1])
print(file_list[2])

This is line 1

This is line 2

This is line 3

## 4.2 Writing Files with Open <a id='4.2'></a>

### 4.2.1 Writing Files <a id='4.2.1'></a>

Use the method <code>write()</code> to create a text file and save a line to it:

In [43]:
# Create example2.txt and use write() to write a line

example2 = "data/example2.txt"

with open(example2, 'w') as file2:
    file2.write("A world of dew,")

In [49]:
# Write multiple lines to the file

with open(example2, 'w') as file2:
    file2.write("A world of dew,\n")
    file2.write("And within every dewdrop\n")

The method <code>.write()</code> works similarly to the method <code>.readline()</code>, except it writes a new line rather than reading it.

In [50]:
# Read the file to confirm

with open(example2, 'r') as file2:
    print(file2.read())

A world of dew,
And within every dewdrop

The mode argument <code>'a'</code> is used to append a new line to the file, rather than rewriting it entirely:

In [51]:
# Append a line to the file

with open(example2, 'a') as file2:
    file2.write("A world of struggle.\n")

In [52]:
# Verify the file has been added to

with open(example2, 'r') as file2:
    print(file2.read())

A world of dew,
And within every dewdrop
A world of struggle.

A list can be written to a text files as follows:

In [53]:
# Create a list

haiku_list = ["Autumn moonlight-\n", "a worm digs silently\n", 
              "into the chestnut.\n"]
haiku_list

['Autumn moonlight-\n', 'a worm digs silently\n', 'into the chestnut.\n']

In [54]:
# Write the elements of the list to a text file

example3 = 'data/example3.txt'
with open(example3, 'w') as file3:
    for line in haiku_list:
        print(line)
        file3.write(line)

Autumn moonlight-

a worm digs silently

into the chestnut.

In [55]:
# Verify the file containing list data was created successfully

with open(example3, 'r') as file3:
    print(file3.read())

Autumn moonlight-
a worm digs silently
into the chestnut.

In [57]:
# Append a line to the file

with open(example3, 'a') as file3:
    file3.write("- Matsuo Basho\n")

In [58]:
# Verify the line was appended

with open(example3, 'r') as file3:
    print(file3.read())

Autumn moonlight-
a worm digs silently
into the chestnut.
- Matsuo Basho

### 4.2.2 Copying Files <a id='4.2.2'></a>

In [59]:
# Copy example3 to another file

with open(example3, 'r') as readfile:
    with open('data/haiku.txt', 'w') as writefile:
        for line in readfile:
            writefile.write(line)

In [60]:
# Verify the copy was successful

with open('data/haiku.txt', 'r') as file4:
    print(file4.read())

Autumn moonlight-
a worm digs silently
into the chestnut.
- Matsuo Basho

## 4.3 Loading Data with Pandas <a id='4.3'></a>

Dependencies or libraries are pre-written code to help solve problems. Pandas is a popular library for data analysis. To start using a library or dependency such as pandas, we use the import command:

In [5]:
# Import pandas using pd as an abbreviation

import pandas as pd

### 4.3.1 Import csv file <a id='4.3.1'></a>

In [6]:
# Import csv file

csv_path = 'data/game-data.csv'
game_df = pd.read_csv(csv_path)
game_df

,Title,Developer,Genre,Release Year,Steam Rating
0,Shadow of the Tomb Raider,Eidos-Montreal,Adventure,2018,84%
1,Fallout 4,Bethesda Game Studios,RPG,2015,78%
2,Cyberpunk 2077,CD PROJEKT RED,RPG,2020,79%
3,Apex Legends,Respawn Entertainment,Action,2019,93%
4,Among Us,Innersloth,Casual,2018,95%
5,Phasmophobia,Kinetic Games,Action,2020,97%
6,Grand Theft Auto V,Rockstar North,Action,2015,81%
7,The Witcher 3: Wild Hunt,CD PROJEKT RED,RPG,2015,98%
8,Dark Souls III,"FromSoftware, Inc.",Action,2016,93%

In [7]:
# Use head() method to examine first n rows (default n=5) of a dataframe

game_df.head()

,Title,Developer,Genre,Release Year,Steam Rating
0,Shadow of the Tomb Raider,Eidos-Montreal,Adventure,2018,84%
1,Fallout 4,Bethesda Game Studios,RPG,2015,78%
2,Cyberpunk 2077,CD PROJEKT RED,RPG,2020,79%
3,Apex Legends,Respawn Entertainment,Action,2019,93%
4,Among Us,Innersloth,Casual,2018,95%

### 4.3.2 Import Excel File <a id='4.3.2'></a>

In [8]:
# Import excel file and view a part using head()

xlsx_path = 'data/game-data.xlsx'
game_df2 = pd.read_excel(xlsx_path)
game_df2.head(3)

,Title,Developer,Genre,Release Year,Steam Rating
0,Shadow of the Tomb Raider,Eidos-Montreal,Adventure,2018,0.84
1,Fallout 4,Bethesda Game Studios,RPG,2015,0.78
2,Cyberpunk 2077,CD PROJEKT RED,RPG,2020,0.79

### 4.3.3 Creating Dataframes <a id='4.3.3'></a>

In [9]:
# Create a new dataframe with column and index labels

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                 index=['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [10]:
# Create a dataframe from a dictionary - Make the dictionary

songs = {'Album':['Thriller', 'Back in Black', 'The Dark Side of the Moon',
                  'The Bodyguard', 'Bat Out of Hell'],
         'Released':[1982, 1980, 1973, 1992, 1977],
         'Length':['00:42:19', '00:42:11', '00:42:29', '00:57:44', '00:46;33']}
songs

{'Album': ['Thriller',
  'Back in Black',
  'The Dark Side of the Moon',
  'The Bodyguard',
  'Bat Out of Hell'],
 'Released': [1982, 1980, 1973, 1992, 1977],
 'Length': ['00:42:19', '00:42:11', '00:42:29', '00:57:44', '00:46;33']}

In [11]:
# Cast the dictionary to a dataframe

songs_frame = pd.DataFrame(songs)
songs_frame

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:29
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46;33

### 4.3.4 Accessing Data from Dataframes <a id='4.3.4'></a>

In [12]:
# Create a new dataframe from a single column of an existing dataframe

dev_df = game_df[['Developer']]
dev_df.head()

               Developer
0         Eidos-Montreal
1  Bethesda Game Studios
2         CD PROJEKT RED
3  Respawn Entertainment
4             Innersloth

In [13]:
# Get a column as a series

dev_df2 = game_df['Developer']
dev_df2

0           Eidos-Montreal
1    Bethesda Game Studios
2           CD PROJEKT RED
3    Respawn Entertainment
4               Innersloth
5            Kinetic Games
6           Rockstar North
7           CD PROJEKT RED
8       FromSoftware, Inc.
Name: Developer, dtype: object

In [57]:
# Create a new dataframe from a number of selected columns

ratings_df = game_df[['Title', 'Steam Rating']]
ratings_df.head()

                       Title Steam Rating
0  Shadow of the Tomb Raider          84%
1                  Fallout 4          78%
2             Cyberpunk 2077          79%
3               Apex Legends          93%
4                   Among Us          95%

In [27]:
# Access the data from one cell of a dataframe using index

game_df.iloc[1,0]

'Fallout 4'

In [14]:
# Access a single value from one cell using labels

game_df.loc[0, 'Genre']

'Adventure'

In [31]:
# Slice a dataframe to select a section using index

game_df.iloc[0:3, 0:4]

                       Title              Developer      Genre  Release Year
0  Shadow of the Tomb Raider         Eidos-Montreal  Adventure          2018
1                  Fallout 4  Bethesda Game Studios        RPG          2015
2             Cyberpunk 2077         CD PROJEKT RED        RPG          2020

In [76]:
# Access a column using label

game_df.loc[:,'Genre']

0    Adventure
1          RPG
2          RPG
3       Action
4       Casual
5       Action
6       Action
7          RPG
8       Action
Name: Genre, dtype: object

### 4.3.5 Pandas Quiz <a id='4.3.5'></a>

In [15]:
# Import the excel file for the following exercises

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [17]:
# Use variable 'q' to store the column 'Rating' as a dataframe

q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [18]:
# Assign the variable 'q' to a dataframe containing 'Released' and 'Artist'

q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [19]:
# Access the 2nd row and 3rd column of 'df'

df.iloc[1, 2]

1980

In [11]:
# Use the following dataframe 'df' for the next exercises

df = pd.DataFrame({'a':[11, 21, 31], 'b':[20, 22, 23]})

In [12]:
# Plot the first three rows

df.head(3)

    a   b
0  11  20
1  21  22
2  31  23

In [8]:
# Obtain column 'a'

df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [9]:
# Consider the dataframe df, how would you find the element in the second row 
# and first column?

df.iloc[1,0]

21

## 4.4 Working with and Saving Data with Pandas <a id='4.4'></a>

When we have a dataframe we can work with the data and save the results in other formats. Pandas has methods to manipulate data, such as the unique method:

In [41]:
# Use unique method to determine unique elements in a column of a dataframe

game_df['Release Year'].unique()

array([2018, 2015, 2020, 2019, 2016], dtype=int64)

In [42]:
# Show which rows have a release year of 2019 or later

game_df['Release Year'] >= 2019

0    False
1    False
2     True
3     True
4    False
5     True
6    False
7    False
8    False
Name: Release Year, dtype: bool

In [55]:
# Make a new dataframe of games with a release year of 2019 or later

new_game_df = game_df[game_df['Release Year'] >= 2019]
new_game_df

            Title              Developer   Genre  Release Year Steam Rating
2  Cyberpunk 2077         CD PROJEKT RED     RPG          2020          79%
3    Apex Legends  Respawn Entertainment  Action          2019          93%
5    Phasmophobia          Kinetic Games  Action          2020          97%

In [53]:
new_game_df.iloc[0,0]

'Cyberpunk 2077'

### 4.4.1 Save Dataframe to csv File <a id='4.4.1'></a>

In [50]:
# Save the new dataframe to a csv file without retaining former index

new_game_df.to_csv('data/new-game.csv', index=False)

In [51]:
# Confirm it was saved using the read_csv method

check_game_df = pd.read_csv('data/new-game.csv')
check_game_df

            Title              Developer   Genre  Release Year Steam Rating
0  Cyberpunk 2077         CD PROJEKT RED     RPG          2020          79%
1    Apex Legends  Respawn Entertainment  Action          2019          93%
2    Phasmophobia          Kinetic Games  Action          2020          97%

### 4.4. Pandas Quiz 2 <a id='4.4.'></a>

In [2]:
# Use this dataframe 'df' for the following exercises

import pandas as pd

df = pd.DataFrame({'a':[1, 2, 1],'b':[1, 1, 1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [33]:
# Find the unique values in column 'a'

df['a'].unique()

array([1, 2], dtype=int64)

In [36]:
# Return a dataframe with only the rows where column 'a' is less than two

df1 = df[df['a'] <= 1]
df1

   a  b
0  1  1
2  1  1

In [3]:
#consider the dataframe what type does the following return df['a']==1

df = pd.DataFrame({'a':[1, 2, 1],'b':[1, 1, 1]})

df['a'] == 1

0     True
1    False
2     True
Name: a, dtype: bool

## 4.5 API's <a id='4.5'></a>

In [20]:
# Import the IBM Watson library

!pip install ibm_watson wget

Collecting ibm_watson
  Downloading ibm-watson-5.0.2.tar.gz (382 kB)
Requirement already satisfied: wget in c:\users\kiss_\anaconda3\lib\site-packages (3.2)
Requirement already satisfied: requests<3.0,>=2.0 in c:\users\kiss_\anaconda3\lib\site-packages (from ibm_watson) (2.24.0)
Requirement already satisfied: python_dateutil>=2.5.3 in c:\users\kiss_\anaconda3\lib\site-packages (from ibm_watson) (2.8.1)
Collecting websocket-client==0.48.0
  Downloading websocket_client-0.48.0-py2.py3-none-any.whl (198 kB)
Collecting ibm_cloud_sdk_core==1.7.3
  Downloading ibm-cloud-sdk-core-1.7.3.tar.gz (27 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\kiss_\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\kiss_\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiss_\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kiss_\anaconda3\lib\site-packages (from requests<3.0,>=2.0->ibm_watson) (2.10)
Requirement already satisfied: six>=1.5 in c:\users\kiss_\anaconda3\lib\site-packages (from python_dateutil>=2.5.3->ibm_watson) (1.15.0)
Collecting PyJWT>=1.7.1
  Downloading PyJWT-2.0.0-py3-none-any.whl (15 kB)
Building wheels for collected packages: ibm-watson, ibm-cloud-sdk-core
  Building wheel for ibm-watson (setup.py): started
  Building wheel for ibm-watson (setup.py): finished with status 'done'
  Created wheel for ibm-watson: filename=ibm_watson-5.0.2-py3-none-any.whl size=375449 sha256=e5d97afaaf36d7aa54a6638703f70f205cad27d84b5d6e7ff2ea336db6369fcb
  Stored in directory: c:\users\kiss_\appdata\local\pip\cache\wheels\75\e4\08\38305784a0a2a21d0aa8f8c0f0e8fe0ae7694bc2d9cf535c6f
  Building wheel for ibm-cloud-sdk-core (setup.py): started
  Building wheel for ibm-cloud-sdk-core (setup.py): finished with status 'done'
  Created wheel for ibm-cloud-sdk-core: filename=ibm_cloud_sdk_core-1.7.3-py3-none-any.whl size=45946 sha256=4a85db639dc0f8fd8e6bd08e18578c58214e1f0a59a2388bdd2f46abb28c0c9f
  Stored in directory: c:\users\kiss_\appdata\local\pip\cache\wheels\7f\b2\0c\e98142cc63c7b835ee3bacb64806c2669dda0a30442d09e43e
Successfully built ibm-watson ibm-cloud-sdk-core
Installing collected packages: websocket-client, PyJWT, ibm-cloud-sdk-core, ibm-watson
Successfully installed PyJWT-2.0.0 ibm-cloud-sdk-core-1.7.3 ibm-watson-5.0.2 websocket-client-0.48.0

### 4.5.1 Speech to Text <a id='4.5.1'></a>

In [83]:
!pip install PyJWT==2.0.0

Collecting PyJWT==2.0.0
  Using cached PyJWT-2.0.0-py3-none-any.whl (15 kB)
Installing collected packages: PyJWT
  Attempting uninstall: PyJWT
    Found existing installation: PyJWT 1.7.1
    Uninstalling PyJWT-1.7.1:
      Successfully uninstalled PyJWT-1.7.1
Successfully installed PyJWT-2.0.0

In [4]:
# Import SpeechToTextV1 from ibm_watson and insert url and API key

import json
from ibm_watson import SpeechToTextV1
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator

In [5]:
# Import the API key and URL stored in config file

import config
stt_api = config.stt_api
stt_url = config.stt_url

authenticator = IAMAuthenticator(stt_api)
s2t = SpeechToTextV1(authenticator=authenticator)
s2t.set_service_url(stt_url)
s2t

In [9]:
# Download audio file that will be used to convert to text

!wget -O data/PolynomialRegressionandPipelines.mp3 https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/PolynomialRegressionandPipelines.mp3

--2021-01-02 19:15:52--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/PolynomialRegressionandPipelines.mp3
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4234179 (4.0M) [audio/mpeg]
Saving to: 'data/PolynomialRegressionandPipelines.mp3'

     0K .......... .......... .......... .......... ..........  1%  234K 17s
    50K .......... .......... .......... .......... ..........  2% 3.93M 9s
   100K .......... .......... .......... .......... ..........  3%  507K 9s
   150K .......... .......... .......... .......... ..........  4% 4.87M 7s
   200K .......... .......... .......... .......... ..........  6% 6.44M 5s
   250K .......... .......... .......... .......... ..........  7%  509K 6s
   300K .......... .......... .......... .......... ..........  8% 7.00M 5s
   350K .......... .......... .......... .......... ..........  9%  545K 5s
   400K .......... .......... .......... .......... .......... 10% 3.38M 5s
   450K .......... .......... .......... .......... .......... 12% 7.50M 4s
   500K .......... .......... .......... .......... .......... 13%  560K 4s
   550K .......... .......... .......... .......... .......... 14% 3.61M 4s
   600K .......... .......... .......... .......... .......... 15% 2.67M 4s
   650K .......... .......... .......... .......... .......... 16% 13.5M 3s
   700K .......... .......... .......... .......... .......... 18% 11.3M 3s
   750K .......... .......... .......... .......... .......... 19% 8.06M 3s
   800K .......... .......... .......... .......... .......... 20% 1.09M 3s
   850K .......... .......... .......... .......... .......... 21% 5.60M 3s
   900K .......... .......... .......... .......... .......... 22% 12.1M 3s
   950K .......... .......... .......... .......... .......... 24% 12.2M 2s
  1000K .......... .......... .......... .......... .......... 25% 9.17M 2s
  1050K .......... .......... .......... .......... .......... 26% 14.5M 2s
  1100K .......... .......... .......... .......... .......... 27% 11.8M 2s
  1150K .......... .......... .......... .......... .......... 29% 2.87M 2s
  1200K .......... .......... .......... .......... .......... 30% 13.1M 2s
  1250K .......... .......... .......... .......... .......... 31% 18.6M 2s
  1300K .......... .......... .......... .......... .......... 32% 16.9M 2s
  1350K .......... .......... .......... .......... .......... 33% 14.7M 2s
  1400K .......... .......... .......... .......... .......... 35% 7.48M 1s
  1450K .......... .......... .......... .......... .......... 36% 16.8M 1s
  1500K .......... .......... .......... .......... .......... 37% 6.72M 1s
  1550K .......... .......... .......... .......... .......... 38% 1.41M 1s
  1600K .......... .......... .......... .......... .......... 39% 12.4M 1s
  1650K .......... .......... .......... .......... .......... 41% 16.1M 1s
  1700K .......... .......... .......... .......... .......... 42% 8.24M 1s
  1750K .......... .......... .......... .......... .......... 43% 1.77M 1s
  1800K .......... .......... .......... .......... .......... 44% 6.86M 1s
  1850K .......... .......... .......... .......... .......... 45% 20.3M 1s
  1900K .......... .......... .......... .......... .......... 47% 23.3M 1s
  1950K .......... .......... .......... .......... .......... 48% 19.7M 1s
  2000K .......... .......... .......... .......... .......... 49% 22.9M 1s
  2050K .......... .......... .......... .......... .......... 50% 6.09M 1s
  2100K .......... .......... .......... .......... .......... 51% 2.98M 1s
  2150K .......... .......... .......... .......... .......... 53% 21.2M 1s
  2200K .......... .......... .......... .......... .......... 54% 13.9M 1s
  2250K .......... .......... .......... .......... .......... 55% 3.61M 1s
  2300K .......... .......... .......... .......... .......... 56% 9.60M 1s
  2350K .......... .......... .......... .......... .......... 58% 9.42M 1s
  2400K .......... .......... .......... .......... .......... 59% 12.1M 1s
  2450K .......... .......... .......... .......... .......... 60% 4.22M 1s
  2500K .......... .......... .......... .......... .......... 61% 13.8M 1s
  2550K .......... .......... .......... .......... .......... 62% 20.0M 1s
  2600K .......... .......... .......... .......... .......... 64% 20.3M 1s
  2650K .......... .......... .......... .......... .......... 65% 19.3M 1s
  2700K .......... .......... .......... .......... .......... 66% 23.0M 0s
  2750K .......... .......... .......... .......... .......... 67% 17.4M 0s
  2800K .......... .......... .......... .......... .......... 68% 20.2M 0s
  2850K .......... .......... .......... .......... .......... 70% 21.3M 0s
  2900K .......... .......... .......... .......... .......... 71% 13.5M 0s
  2950K .......... .......... .......... .......... .......... 72% 3.36M 0s
  3000K .......... .......... .......... .......... .......... 73% 6.43M 0s
  3050K .......... .......... .......... .......... .......... 74% 8.95M 0s
  3100K .......... .......... .......... .......... .......... 76% 5.04M 0s
  3150K .......... .......... .......... .......... .......... 77% 16.2M 0s
  3200K .......... .......... .......... .......... .......... 78% 20.8M 0s
  3250K .......... .......... .......... .......... .......... 79% 24.6M 0s
  3300K .......... .......... .......... .......... .......... 81% 22.6M 0s
  3350K .......... .......... .......... .......... .......... 82% 24.2M 0s
  3400K .......... .......... .......... .......... .......... 83% 20.4M 0s
  3450K .......... .......... .......... .......... .......... 84% 8.29M 0s
  3500K .......... .......... .......... .......... .......... 85% 15.2M 0s
  3550K .......... .......... .......... .......... .......... 87% 20.5M 0s
  3600K .......... .......... .......... .......... .......... 88% 15.9M 0s
  3650K .......... .......... .......... .......... .......... 89% 15.5M 0s
  3700K .......... .......... .......... .......... .......... 90% 15.6M 0s
  3750K .......... .......... .......... .......... .......... 91% 16.6M 0s
  3800K .......... .......... .......... .......... .......... 93% 13.5M 0s
  3850K .......... .......... .......... .......... .......... 94% 16.9M 0s
  3900K .......... .......... .......... .......... .......... 95% 16.0M 0s
  3950K .......... .......... .......... .......... .......... 96% 14.8M 0s
  4000K .......... .......... .......... .......... .......... 97% 9.73M 0s
  4050K .......... .......... .......... .......... .......... 99% 16.4M 0s
  4100K .......... .......... .......... ....                 100% 20.0M=1.1s

2021-01-02 19:15:54 (3.68 MB/s) - 'data/PolynomialRegressionandPipelines.mp3' saved [4234179/4234179]

In [10]:
# Set the path of the wav file

filename = 'data/PolynomialRegressionandPipelines.mp3'

In [8]:
# Use open to create the file object in binary mode 'rb'

with open(filename, 'rb') as wav:
    response = s2t.recognize(audio=wav, content_type='audio/mp3')

DecodeError: It is required that you pass in a value for the "algorithms" argument when calling decode().