# Module 4 - Working With Data

## Table of Contents

- 4.1 **[Reading Files with Open](#4.1)**
    - 4.1.1 [Download Data](#4.1.1)
    - 4.1.2 [Reading Text Files](#4.1.2)
    - 4.1.3 [Using <code>with</code> to Open Files](#4.1.3)
- 4.2 **[Writing Files with Open](#4.2)**
    - 4.2.1 [Writing Files](#4.2.1)
    - 4.2.2 [Copying Files](#4.2.2)
- 4.3 **[Loading Data with Pandas](#4.3)**
    - 4.3.1 [Importing csv Files](#4.3.1)
    - 4.3.2 [Importing Excel Files](#4.3.2)
    - 4.3.3 [Creating Dataframes](#4.3.3)
    - 4.3.4 [Accessing Data from Dataframes](#4.3.4)
    - 4.3.5 [Pandas Quiz](#4.3.5)
- 4.4 **[Working with and Saving Data with Pandas](#4.4)**
- 4.5 **[API's](#4.5)**

## 4.1 Reading Files with Open <a id='4.1'></a>

### 4.1.1 Download Data <a id='4.1.1'></a>

In [31]:
# Download example file from url using wget

!wget -O data/example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2020-12-30 14:26:47--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: 'cognitiveclass-materials/example1.txt'

     0K                                                       100% 47.5K=0.001s

2020-12-30 14:26:48 (47.5 KB/s) - 'cognitiveclass-materials/example1.txt' saved [45/45]

### 4.1.2 Reading Text Files <a id='4.1.2'></a>

The built-in <code>open</code> function in Python can be used to read or write to files. It provides a file object that contains methods and attributes required to read, save, and manipulate the file.

In [32]:
# Read the example1.txt

example1 = "data/example1.txt"
file1 = open(example1, "r")

In [33]:
# View attributes of the file - path and name

file1.name

'cognitiveclass-materials/example1.txt'

In [34]:
# View attributes of the file - mode ('r' or 'w')

file1.mode

'r'

In [8]:
# Read the file and assign it to the variable file_content

file_content = file1.read()
file_content

'This is line 1 \nThis is line 2\nThis is line 3'

In [9]:
# Print the file with '\n' as a new line

print(file_content)

This is line 1
This is line 2
This is line 3

In [10]:
# Check type of file_content

type(file_content)

str

In [35]:
# Close the file after finishing (always necessary)

file1.close()

### 4.1.3 Using <code>with</code> to Open Files <a id='4.1.3'></a>

It is best practice to use the <code>with</code> statement when opening a file. This ensures the file will automatically close after running code in the indent block, even if an exception is raised.

In [12]:
# Open file using with statement

with open(example1, "r") as file1:
    file_content = file1.read()
    print(file_content)

This is line 1
This is line 2
This is line 3

In [14]:
# Verify the file was closed automatically

file1.closed

True

In [16]:
# View the info extracted from the file in the variable file_content

print(file_content)

This is line 1
This is line 2
This is line 3

In [17]:
# Read the first four characters of the file

with open(example1, "r") as file1:
    print(file1.read(4))

This

Once the method <code>.read(4)</code> is called, the first characters are printed. If we call the method again, the subsequent characters will be called. See the examples below:

In [18]:
# Read characters from a file sequentially

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [19]:
# Read a different number of characters from the file

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

One line of a file at a time can be read using the method <code>readline()</code>:

In [22]:
# Read one line at a time using readline()

with open(example1, "r") as file1:
    print("The first line is:", file1.readline())

The first line is: This is line 1

A loop can be used to iterate through each line:

In [24]:
# Iterate through each line of a file

with open(example1, "r") as file1:
    i = 0
    for line in file1:
        print("Iteration", str(i), ":", line)
        i = i + 1

Iteration 0 : This is line 1

Iteration 1 : This is line 2

Iteration 2 : This is line 3

The method <code>readlines()</code> can be used to save the file to a list:

In [29]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    file_list = file1.readlines()

print(file_list)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [28]:
# Each element of the list corresponds to a line

print(file_list[0])
print(file_list[1])
print(file_list[2])

This is line 1

This is line 2

This is line 3

## 4.2 Writing Files with Open <a id='4.2'></a>

### 4.2.1 Writing Files <a id='4.2.1'></a>

Use the method <code>write()</code> to create a text file and save a line to it:

In [43]:
# Create example2.txt and use write() to write a line

example2 = "data/example2.txt"

with open(example2, 'w') as file2:
    file2.write("A world of dew,")

In [49]:
# Write multiple lines to the file

with open(example2, 'w') as file2:
    file2.write("A world of dew,\n")
    file2.write("And within every dewdrop\n")

The method <code>.write()</code> works similarly to the method <code>.readline()</code>, except it writes a new line rather than reading it.

In [50]:
# Read the file to confirm

with open(example2, 'r') as file2:
    print(file2.read())

A world of dew,
And within every dewdrop

The mode argument <code>'a'</code> is used to append a new line to the file, rather than rewriting it entirely:

In [51]:
# Append a line to the file

with open(example2, 'a') as file2:
    file2.write("A world of struggle.\n")

In [52]:
# Verify the file has been added to

with open(example2, 'r') as file2:
    print(file2.read())

A world of dew,
And within every dewdrop
A world of struggle.

A list can be written to a text files as follows:

In [53]:
# Create a list

haiku_list = ["Autumn moonlight-\n", "a worm digs silently\n", 
              "into the chestnut.\n"]
haiku_list

['Autumn moonlight-\n', 'a worm digs silently\n', 'into the chestnut.\n']

In [54]:
# Write the elements of the list to a text file

example3 = 'data/example3.txt'
with open(example3, 'w') as file3:
    for line in haiku_list:
        print(line)
        file3.write(line)

Autumn moonlight-

a worm digs silently

into the chestnut.

In [55]:
# Verify the file containing list data was created successfully

with open(example3, 'r') as file3:
    print(file3.read())

Autumn moonlight-
a worm digs silently
into the chestnut.

In [57]:
# Append a line to the file

with open(example3, 'a') as file3:
    file3.write("- Matsuo Basho\n")

In [58]:
# Verify the line was appended

with open(example3, 'r') as file3:
    print(file3.read())

Autumn moonlight-
a worm digs silently
into the chestnut.
- Matsuo Basho

### 4.2.2 Copying Files <a id='4.2.2'></a>

In [59]:
# Copy example3 to another file

with open(example3, 'r') as readfile:
    with open('data/haiku.txt', 'w') as writefile:
        for line in readfile:
            writefile.write(line)

In [60]:
# Verify the copy was successful

with open('data/haiku.txt', 'r') as file4:
    print(file4.read())

Autumn moonlight-
a worm digs silently
into the chestnut.
- Matsuo Basho

## 4.3 Loading Data with Pandas <a id='4.3'></a>

Dependencies or libraries are pre-written code to help solve problems. Pandas is a popular library for data analysis. To start using a library or dependency such as pandas, we use the import command:

In [10]:
# Import pandas using pd as an abbreviation

import pandas as pd

### 4.3.1 Import csv file <a id='4.3.1'></a>

In [37]:
# Import csv file

csv_path = 'data/game-data.csv'
game_df = pd.read_csv(csv_path)
game_df

,Title,Developer,Genre,Release Year,Steam Rating
0,Shadow of the Tomb Raider,Eidos-Montreal,Adventure,2018,84%
1,Fallout 4,Bethesda Game Studios,RPG,2015,78%
2,Cyberpunk 2077,CD PROJEKT RED,RPG,2020,79%
3,Apex Legends,Respawn Entertainment,Action,2019,93%
4,Among Us,Innersloth,Casual,2018,95%
5,Phasmophobia,Kinetic Games,Action,2020,97%
6,Grand Theft Auto V,Rockstar North,Action,2015,81%
7,The Witcher 3: Wild Hunt,CD PROJEKT RED,RPG,2015,98%
8,Dark Souls III,"FromSoftware, Inc.",Action,2016,93%

In [58]:
# Use head() method to examine first n rows (default n=5) of a dataframe

game_df.head()

,Title,Developer,Genre,Release Year,Steam Rating
0,Shadow of the Tomb Raider,Eidos-Montreal,Adventure,2018,84%
1,Fallout 4,Bethesda Game Studios,RPG,2015,78%
2,Cyberpunk 2077,CD PROJEKT RED,RPG,2020,79%
3,Apex Legends,Respawn Entertainment,Action,2019,93%
4,Among Us,Innersloth,Casual,2018,95%

### 4.3.2 Import Excel File <a id='4.3.2'></a>

In [59]:
# Import excel file and view a part using head()

xlsx_path = 'data/game-data.xlsx'
game_df2 = pd.read_excel(xlsx_path)
game_df2.head(3)

,Title,Developer,Genre,Release Year,Steam Rating
0,Shadow of the Tomb Raider,Eidos-Montreal,Adventure,2018,0.84
1,Fallout 4,Bethesda Game Studios,RPG,2015,0.78
2,Cyberpunk 2077,CD PROJEKT RED,RPG,2020,0.79

### 4.3.3 Creating Dataframes <a id='4.3.3'></a>

In [68]:
# Create a new dataframe with column and index labels

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                 index=['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [18]:
# Create a dataframe from a dictionary - Make the dictionary

songs = {'Album':['Thriller', 'Back in Black', 'The Dark Side of the Moon',
                  'The Bodyguard', 'Bat Out of Hell'],
         'Released':[1982, 1980, 1973, 1992, 1977],
         'Length':['00:42:19', '00:42:11', '00:42:29', '00:57:44', '00:46;33']}
songs

{'Album': ['Thriller',
  'Back in Black',
  'The Dark Side of the Moon',
  'The Bodyguard',
  'Bat Out of Hell'],
 'Released': [1982, 1980, 1973, 1992, 1977],
 'Length': ['00:42:19', '00:42:11', '00:42:29', '00:57:44', '00:46;33']}

In [69]:
# Cast the dictionary to a dataframe

songs_frame = pd.DataFrame(songs)
songs_frame

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:29
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46;33

### 4.3.4 Accessing Data from Dataframes <a id='4.3.4'></a>

In [24]:
# Create a new dataframe from a single column of an existing dataframe

dev_df = game_df[['Developer']]
dev_df.head()

               Developer
0         Eidos-Montreal
1  Bethesda Game Studios
2         CD PROJEKT RED
3  Respawn Entertainment
4             Innersloth

In [57]:
# Create a new dataframe from a number of selected columns

ratings_df = game_df[['Title', 'Steam Rating']]
ratings_df.head()

                       Title Steam Rating
0  Shadow of the Tomb Raider          84%
1                  Fallout 4          78%
2             Cyberpunk 2077          79%
3               Apex Legends          93%
4                   Among Us          95%

In [27]:
# Access the data from one cell of a dataframe using index

game_df.iloc[1,0]

'Fallout 4'

In [31]:
# Slice a dataframe to select a section using index

game_df.iloc[0:3, 0:4]

                       Title              Developer      Genre  Release Year
0  Shadow of the Tomb Raider         Eidos-Montreal  Adventure          2018
1                  Fallout 4  Bethesda Game Studios        RPG          2015
2             Cyberpunk 2077         CD PROJEKT RED        RPG          2020

In [66]:
# Access a single value from one cell using labels

game_df.at[0,'Genre']

'Adventure'

In [76]:
# Access a column using label

game_df.loc[:,'Genre']

0    Adventure
1          RPG
2          RPG
3       Action
4       Casual
5       Action
6       Action
7          RPG
8       Action
Name: Genre, dtype: object

### 4.3.5 Pandas Quiz <a id='4.3.5'></a>

In [11]:
# Use the following dataframe 'df' for the next exercises

df = pd.DataFrame({'a':[11, 21, 31], 'b':[20, 22, 23]})

In [12]:
# Plot the first three rows

df.head(3)

    a   b
0  11  20
1  21  22
2  31  23

In [8]:
# Obtain column 'a'

df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [9]:
# Consider the dataframe df, how would you find the element in the second row 
# and first column?

df.iloc[1,0]

21

## 4.4 Working with and Saving Data with Pandas <a id='4.4'></a>

When we have a dataframe we can work with the data and save the results in other formats. Pandas has methods to manipulate data, such as the unique method:

In [41]:
# Use unique method to determine unique elements in a column of a dataframe

game_df['Release Year'].unique()

array([2018, 2015, 2020, 2019, 2016], dtype=int64)

In [42]:
# Show which rows have a release year of 2019 or later

game_df['Release Year'] >= 2019

0    False
1    False
2     True
3     True
4    False
5     True
6    False
7    False
8    False
Name: Release Year, dtype: bool

In [55]:
# Make a new dataframe of games with a release year of 2019 or later

new_game_df = game_df[game_df['Release Year'] >= 2019]
new_game_df

            Title              Developer   Genre  Release Year Steam Rating
2  Cyberpunk 2077         CD PROJEKT RED     RPG          2020          79%
3    Apex Legends  Respawn Entertainment  Action          2019          93%
5    Phasmophobia          Kinetic Games  Action          2020          97%

In [53]:
new_game_df.iloc[0,0]

'Cyberpunk 2077'

### 4.4.1 Save Dataframe to csv File <a id='4.4.1'></a>

In [50]:
# Save the new dataframe to a csv file without retaining former index

new_game_df.to_csv('data/new-game.csv', index=False)

In [51]:
# Confirm it was saved using the read_csv method

check_game_df = pd.read_csv('data/new-game.csv')
check_game_df

            Title              Developer   Genre  Release Year Steam Rating
0  Cyberpunk 2077         CD PROJEKT RED     RPG          2020          79%
1    Apex Legends  Respawn Entertainment  Action          2019          93%
2    Phasmophobia          Kinetic Games  Action          2020          97%

### 4.4. Pandas Quiz 2 <a id='4.4.'></a>

In [38]:
# Use this dataframe 'df' for the following exercises

import pandas as pd

df = pd.DataFrame({'a':[1, 2, 1],'b':[1, 1, 1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [33]:
# Find the unique values in column 'a'

df['a'].unique()

array([1, 2], dtype=int64)

In [36]:
# Return a dataframe with only the rows where column 'a' is less than two

df1 = df[df['a'] <= 1]
df1

   a  b
0  1  1
2  1  1

## 4.5 API's <a id='4.5'></a>