# Module 1 - Basics

## 1.1 First Program

In [29]:
# So it begins

print('Anaconda 101')

Anaconda 101

In [ ]:
# Traditional opening, print is a function, each quoted section 
# e.g. 'hello\nWorld' is an argument

print('hello\nWorld!')

In [3]:
# Just practicing a comment, nothing to see here

# print ('Hello World!')

## 1.2 Types

In [1]:
# Type casting boolean from string

bool('1')

True

In [2]:
# Type casting boolean from integer

bool(1)

True

In [4]:
# Object type checking

type(False)

bool

In [24]:
# Object type checking

type('Hello')

str

In [25]:
# Type casting string from float

str(12.3)

'12.3'

In [5]:
# Type casting integer from boolean

int(True)

1

In [6]:
# Type casting float from boolean

float(True)

1.0

In [26]:
# Type casting float from integer and checking type

type(float(5))

float

In [27]:
# Type casting from float to integer might result in loss of information

int(3.141592654)

3

In [28]:
# Or it might not

int(1.00)

1

In [9]:
# Type checking division expression

type(6 / 2)

float

In [10]:
# Type checking integer division expression (double forward slash)

type(6 // 2)

int

### 1.2.1 Expressions and Variables

In [ ]:
# Addition operation expression - operators and operands

43 + 60 + 16 + 41

In [12]:
# Store value into a variable

x = 43 + 60 + 16 + 41

In [13]:
# Print out the value in variable

x

160

In [14]:
# Use another variable to store the result of an operation between variable 
# and value

y = x / 60
y

2.6666666666666665

In [15]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [18]:
# Using meaningful variables is good

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [19]:
total_hr = total_min / 60 # Total length of albums in hours
total_hr

2.3666666666666667

In [20]:
# Using more complicated expressions to achieve the same result

total_hr = (43 + 42 + 57) / 60 # Total hours in a single expression
total_hr

2.3666666666666667

In [21]:
# BOMDAS forever

x = 3 + 2*2
x

7

In [30]:
y = (3+2) * 2
y

10

In [23]:
z = x + y
z

17

## 1.3 String Operations

### 1.3.1 Indexing
###### A string is an ordered sequence, each element can be accessed using an index represented by the array of numbers

In [3]:
# Print the elements on index 6, 11, 3, 8 and 4 of a string

Name = 'Melli Moloney'

print(Name[6])
print(Name[11])
print(Name[3])
print(Name[8])
print(Name[4])

M
e
l
l
i

In [96]:
# Find the length of a string

len('LOL')

3

In [95]:
# Find the length of a string

len(Name)

13

#### 1.3.1.1 Negative Indexing

In [120]:
# Use negative indexing to print the last element of a string

print(Name[-1])

y

In [92]:
# Use negative indexing to print a variety of elements

print(Name[-7], Name[-2], Name[-5], Name[-10], Name[-9])

M e l l i

#### 1.3.1.2 Slicing

In [103]:
# Use slicing to find the first five elements of a string 

cdpr_game = 'Cyberpunk 2077'

cdpr_game[0:5]

'Cyber'

In [121]:
# Use slicing to find the first three elements of a string

print(Name[0:3])

Mel

#### 1.3.1.3 Stride

In [114]:
# Using a stride value of two on a string

bethesda_game = 'S2k$ysr0iAm'

bethesda_game[::2]

'Skyrim'

In [115]:
# Using a stride value of three on a string

bethesda_game[::3]

'S$rA'

#### 1.3.1.4 Concatenate Strings

In [147]:
# Concatenating a string

fav_food = 'Chocolate'
statement = fav_food + " is the best"
statement

'Chocolate is the best'

In [127]:
# Repeat string multiple times

3 * statement

'Chocolate is the bestChocolate is the bestChocolate is the best'

### 1.3.2 Escape Sequences

In [106]:
# New line escape sequence

print("Leave\nBritney\nAlone")

Leave
Britney
Alone

In [107]:
# Tab escape sequence

print("Leave\tBritney\tAlone")

Leave	Britney	Alone

In [108]:
# Include backslash in string

print("Leave\\Britney\\Alone")

Leave\Britney\Alone

In [109]:
# Using r to denote a raw string

print(r"Leave\Britney\Alone")

Leave\Britney\Alone

### 1.3.3 String Operations

#### 1.3.3.1 Uppercase and lowercase

In [148]:
# Convert a string to uppercase

"Leave britney alone".upper()

'LEAVE BRITNEY ALONE'

In [123]:
# Convert a string to uppercase

fav_series = "Star Wars"

print(fav_series.upper())

STAR WARS

In [110]:
# Convert a string to lowercase

print(fav_series.lower())

star wars

#### 1.3.3.2 Replace

In [149]:
# Basic use of replace

"Not this again!".replace('this', 'you')

'Not you again!'

In [11]:
# Basic use of replace with variable

skyrim_NPC = ('I used to be an adventurer like you, then I took an arrow '
              'in the elbow.')
skyrim_NPC = skyrim_NPC.replace("elbow", "knee")
skyrim_NPC

'I used to be an adventurer like you, then I took an arrow in the knee.'

In [130]:
# Replacing section of string

phrase = "Do or do not, there is no try."
phrase = phrase.replace('there is no try.', 'the cake is a lie.')
phrase

'Do or do not, the cake is a lie.'

In [131]:
# Replacing part of a string and printing the results

your_opinion = "Star Trek is the best"
my_opinion = your_opinion.replace('Trek', 'Wars')
print('Your opinion:', your_opinion)
print('My opinion:', my_opinion)

Your opinion: Star Trek is the best
My opinion: Star Wars is the best

#### 1.3.3.4 Find

In [128]:
# Finding where part of string starts

print(cdpr_game.find('punk'))

5

In [129]:
# If something cannot be found in string

print(cdpr_game.find('skyrim'))

-1

### 1.3.4 Quiz

In [105]:
# How would you obtain the even elements?

Numbers = '0123456'
Numbers[::2]

'0246'

In [91]:
# What is the result of the following line of code?

'0123456'.find('1')

1

In [139]:
# Use slicing to print out the first three elements of variable d

d = 'ABCDEFG'
d[:3]

'ABC'

In [17]:
# Print out a backslash

print('\\')
print(r' \ ')

\
 \

In [13]:
# Consider the variable g, and find the first index of the sub-string snow

g = ("Mary had a little lamb, little lamb, little lamb. Mary had a little "
     "lamb, its fleece was white as snow. And everywhere that Mary went, "
     "Mary went, Mary went, everywhere that Mary went, the lamb was sure "
     "to go.")

g.find('snow')

98

In [15]:
# In the variable g, replace the sub-string Mary

g.replace('Mary', 'Melli')

'Melli had a little lamb, little lamb, little lamb. Melli had a little lamb, its fleece was white as snow. And everywhere that Melli went, Melli went, Melli went, everywhere that Melli went, the lamb was sure to go.'