# Module 2 - Data Structures

## 2.1 Tuples
###### Can include strings, integers, floats, nested tuples. Are immutable (elements cannot be changed, new tuple must be formed).

In [2]:
# Create a tuple

my_guineapigs = ('Coco','Minnie','Lilly','Poppy','Sooty')
print(my_guineapigs)

('Coco', 'Minnie', 'Lilly', 'Poppy', 'Sooty')

In [45]:
# Print the type of object you created

type(my_guineapigs)

tuple

### 2.1.1 Indexing

In [12]:
# Access first element in tuple

my_guineapigs[0]

'Coco'

In [14]:
# Access final element

my_guineapigs[-1]

'Sooty'

In [46]:
# Print the type of a value in the tuple

type(my_guineapigs[1])

str

In [3]:
# Find the index of an element in a tuple

my_guineapigs.index('Sooty')

4

### 2.1.2 Slicing

In [13]:
# Slicing second to fourth elements in tuple

my_guineapigs[1:4]

('Minnie', 'Lilly', 'Poppy')

In [35]:
# Find the length of the tuple

len((my_guineapigs))

5

### 2.1.3 Concatenating

In [36]:
# Concatenate to include new additions

my_guineapigs = my_guineapigs + ('Spidey', 'Teddy')
print(my_guineapigs)

('Coco', 'Minnie', 'Lilly', 'Poppy', 'Sooty', 'Spidey', 'Teddy')

In [37]:
# Concatenate two tuples

my_dogs = ('Rosie', 'Bluey')
my_pets = my_guineapigs + my_dogs
print(my_pets)

('Coco', 'Minnie', 'Lilly', 'Poppy', 'Sooty', 'Spidey', 'Teddy', 'Rosie', 'Bluey')

### 2.1.4 Sorting

In [38]:
# Sort the tuple and save it to a new tuple

my_pets_sorted = sorted(my_pets)
print(my_pets_sorted)

['Bluey', 'Coco', 'Lilly', 'Minnie', 'Poppy', 'Rosie', 'Sooty', 'Spidey', 'Teddy']

### 2.1.5 Nested Tuple

In [6]:
# Access elements from nested tuple

systems = (('PS4', 'PS5'), 'Nintendo Switch', ('XBOX ONE X', 'XBOX ONE S', 
                                               'XBOX Series X', 
                                               'XBOX Series S'), 'PC')
print(systems[2])
print(systems[2][2])
print(systems[2][2][0:4])

('XBOX ONE X', 'XBOX ONE S', 'XBOX Series X', 'XBOX Series S')
XBOX Series X
XBOX

### 2.1.6 Tuples Quiz

In [22]:
# Create the tuple (0,1,2,3) and assign it to the variable A

A = (0, 1, 2, 3)
print(A)

(0, 1, 2, 3)

In [2]:
# Find the first two elements of the tuple A

A[0:2]

(0, 1)

In [7]:
# Find the first element of the tuple A

A = ('a', 'b', 'c')

A[0]

'a'

In [1]:
# How do you access the last element of the tuple A=(0,1,2,3)?

A = (0, 1, 2, 3)

print(A[-1])
print(A[3])

3
3

In [5]:
# Consider the following tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [40]:
# Find the length of the tuple, genres_tuple

len(genres_tuple)

8

In [41]:
# Access the element at index 3

genres_tuple[3]

'hard rock'

In [42]:
# Use slicing to access indexes 3, 4 and 5

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [44]:
# Find the first two elements of the tuple, genres_tuple

genres_tuple[0:2]

('pop', 'rock')

In [7]:
# Find the first index of "disco"

genres_tuple.index('disco')

7

In [9]:
# Generate a sorted List from the tuple C_tuple=(-5, 1, -3)

C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

## 2.2 Lists
###### Can include strings, integers, floats, tuples, nested lists. Are mutable (elements can be changed).

In [7]:
# Create a list

chopin = ['Prelude', 'E Minor', 28, 4]
print(chopin)

['Prelude', 'E Minor', 28, 4]

In [8]:
# Access elements from the list

print(chopin[0])
print(chopin[-1])

Prelude
4

In [9]:
# Use slicing on the list

print(chopin[2:4])

[28, 4]

In [10]:
# Concatenate the list

chopin = chopin + ['Nocturne', 'C Minor', 20]
print(chopin)

['Prelude', 'E Minor', 28, 4, 'Nocturne', 'C Minor', 20]

In [12]:
# Extend the list (possible as lists are mutable)

chopin.extend([9, 1])
print(chopin)

['Prelude', 'E Minor', 28, 4, 'Nocturne', 'C Minor', 20, 9, 1]

In [13]:
# Append to the list (will be added as single index)

chopin.append(['Etude', 10, 3])
print(chopin)

['Prelude', 'E Minor', 28, 4, 'Nocturne', 'C Minor', 20, 9, 1, ['Etude', 10, 3]]

In [14]:
# Change an element in the list

chopin[9] = ['Ballade', 'G Minor', 1, 23]
print(chopin)

['Prelude', 'E Minor', 28, 4, 'Nocturne', 'C Minor', 20, 9, 1, ['Ballade', 'G Minor', 1, 23]]

In [16]:
# Delete an element from the list

del(chopin[9])
print(chopin)

['Prelude', 'E Minor', 28, 4, 'Nocturne', 'C Minor', 20, 9, 1]

In [17]:
# Split a string into a list

'Cyberpunk 2077'.split()

['Cyberpunk', '2077']

In [20]:
# Split a string into a list using a delimiter

'M.O.D.U.S'.split('.')

['M', 'O', 'D', 'U', 'S']

### 2.1.1 Aliasing
###### Multiple names referring to the same object.

In [1]:
# Create two names referring to the same list

tv_series = ['The Mandalorian', 'Agents of Shield', 
             'Star Wars: The Clone Wars']
disney_plus = tv_series
print(tv_series)
print(disney_plus)

['The Mandalorian', 'Agents of Shield', 'Star Wars: The Clone Wars']
['The Mandalorian', 'Agents of Shield', 'Star Wars: The Clone Wars']

In [26]:
# When changing the value of A, B will also change as a result

tv_series[2] = 'WandaVision'
print(disney_plus)

['The Mandalorian', 'Agents of Shield', 'WandaVision']

### 2.1.2 Cloning

In [29]:
# Clone a list so it can be modified separately

jp_food = ['sushi', 'sashimi', 'udon', 'okonomiyaki', 'tamagoyaki']
local_food = jp_food[:]
print(jp_food)
print(local_food)

['sushi', 'sashimi', 'udon', 'okonomiyaki', 'tamagoyaki']
['sushi', 'sashimi', 'udon', 'okonomiyaki', 'tamagoyaki']

In [30]:
# Modify an element on cloned list without affecting the other list

local_food[2] = 'soba'
print(jp_food)
print(local_food)

['sushi', 'sashimi', 'udon', 'okonomiyaki', 'tamagoyaki']
['sushi', 'sashimi', 'soba', 'okonomiyaki', 'tamagoyaki']

### 2.1.3 Help

In [31]:
# Use the help command for more information about a tuple or list

help(local_food)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### 2.1.4 Lists Quiz

In [33]:
# Consider the list B=["a","b","c"]. What is the result of B[1:]

B = ['a', 'b', 'c']
B[1:]

['b', 'c']

In [2]:
# Find the first two elements of the list B

B = ['a', 'b', 'c']
B[0:2]

['a', 'b']

In [6]:
# Change the first element of the list to an uppercase "A"

B[0] = 'A'
print(B)

['A', 'b', 'c']

In [11]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True

a_list = [1, 'hello', [1, 2, 3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [12]:
# Find the value stored at index 1 of a_list

a_list[1]

'hello'

In [14]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list

a_list[1:4]

['hello', [1, 2, 3], True]

In [16]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']

A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

## 2.3 Sets
###### Sets are a type of collection but unlike lists and tuples are unordered (do not record element position). Sets only have unique elements, duplicate items will be removed.

In [13]:
# Creating a set, duplicates are removed

groceries = {'bananas', 'apples', 'bread', 'milk', 'eggs', 5, 1, 1, 2, 12}
groceries

{1, 12, 2, 5, 'apples', 'bananas', 'bread', 'eggs', 'milk'}

In [14]:
# Type casting a list to a set, duplicates are removed

fruit = ['bananas', 'oranges', 'apples', 'pears', 3, 1, 2, 1]
fruit = set(fruit)
fruit

{1, 2, 3, 'apples', 'bananas', 'oranges', 'pears'}

### 2.3.1 Set Operations

In [5]:
# Add an item to a set

fruit.add('grapes')
fruit

{1, 2, 3, 'apples', 'bananas', 'grapes', 'oranges', 'pears'}

In [6]:
# Not possible to add a duplicate item to a set

fruit.add('grapes')
fruit

{1, 2, 3, 'apples', 'bananas', 'grapes', 'oranges', 'pears'}

In [7]:
# Using the remove method

fruit.remove('grapes')
fruit

{1, 2, 3, 'apples', 'bananas', 'oranges', 'pears'}

In [13]:
# Using the in command to check if an item is in the set

print("Are oranges in the set?", 'oranges' in fruit)
print("Are grapes in the set?", 'grapes' in fruit)

Are oranges in the set? True
Are grapes in the set? False

### 2.3.2 Sets Logic Operations

In [7]:
# Using the intersection operation to create a new set containing only 
# elements present in both sets

fruit & groceries

{1, 2, 'apples', 'bananas'}

In [15]:
# Find elements that are only contained in one set (fruit) using the 
# difference method

fruit.difference(groceries)

{3, 'oranges', 'pears'}

In [16]:
# Find elements that are only contained in one set (groceries) using the 
# difference method

groceries.difference(fruit)

{12, 5, 'bread', 'eggs', 'milk'}

In [6]:
# Using the union operation to combine elements from two sets

fruit.union(groceries)

{1,
 12,
 2,
 3,
 5,
 'apples',
 'bananas',
 'bread',
 'eggs',
 'milk',
 'oranges',
 'pears'}

In [2]:
# Check if a set is a subset

album_set_1 = {'Back in Black', 'Dark Side of the Moon', 'Master of Puppets',
               'OK Computer', 'Nevermind'}
album_set_2 = {'Nevermind', 'OK Computer'}
print('Is album_set_2 a subset of album_set_1?', 
      album_set_2.issubset(album_set_1))
print('Is album_set_1 a subset of album_set_2?', 
      album_set_1.issubset(album_set_2))

Is album_set_2 a subset of album_set_1? True
Is album_set_1 a subset of album_set_2? False

In [20]:
# Check if a set is a superset

print('Is album_set_2 a superset of album_set_1?', 
      album_set_2.issuperset(album_set_1))
print('Is album_set_1 a superset of album_set_2?', 
      album_set_1.issuperset(album_set_2))

Is album_set_2 a superset of album_set_1? False
Is album_set_1 a superset of album_set_2? True

### 2.3.3 Sets Quiz

In [10]:
# Cast the following list to a set

set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

In [9]:
# Add the string 'D' to the set S

S = {'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

In [1]:
# Find the intersection of set A and B

A = {1,2,3,4,5}
B = {1,3,9, 12}
A & B

{1, 3}

In [11]:
# What is the result of the following lines of code

S = {'A','B','C'}
U = {'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [12]:
# What is the intersection of set S and U

S = {'A','B','C'}
U = {'A','Z','C'}
S & U

{'A', 'C'}

In [23]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set

set(['rap', 'house', 'electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [25]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1])
# Does sum(A) = sum(B)?

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print('The sum of list A is:', sum(A))
print('The sum of set B is:', sum(B))

The sum of list A is: 6
The sum of set B is: 3

In [27]:
# Create a new set album_set3 that is the union of album_set1 and album_set2

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [28]:
# Find out if album_set1 is a subset of album_set3

print('Is album_set1 a subset of album_set3?', album_set1.issubset(album_set3))

Is album_set1 a subset of album_set3? True

## 2.4 Dictionaries
###### Keys must be immutable and unique, values can be immutable, mutable and duplicates

In [43]:
# Create a dictionary

fo76_dict = {'Handmade Rifle': 5.56, 'Hunting Rifle': '.45', 
             'Minigun': 5, 'Gamma Gun': 'Gamma Round', 
             'Gatling Plasma': 'Plasma Core', 
             'Ultracite Laser Gun': 'Fusion Cell', (7, 6): 2020}
fo76_dict

{'Handmade Rifle': 5.56,
 'Hunting Rifle': '.45',
 'Minigun': 5,
 'Gamma Gun': 'Gamma Round',
 'Gatling Plasma': 'Plasma Core',
 'Ultracite Laser Gun': 'Fusion Cell',
 (7, 6): 2020}

In [44]:
# Access a value using a key (keys can be strings)

fo76_dict['Minigun']

5

In [35]:
# Access a value using a key (keys can be immutable objects such as a tuple)

dict[(7, 6)]

2020

In [45]:
# Get all the keys in dictionary

fo76_dict.keys()

dict_keys(['Handmade Rifle', 'Hunting Rifle', 'Minigun', 'Gamma Gun', 'Gatling Plasma', 'Ultracite Laser Gun', (7, 6)])

In [46]:
# Get all the values in dictionary

fo76_dict.values()

dict_values([5.56, '.45', 5, 'Gamma Round', 'Plasma Core', 'Fusion Cell', 2020])

In [50]:
# Append value with key in dictionary

fo76_dict['Missile Launcher'] = 'Missile'
fo76_dict

{'Handmade Rifle': 5.56,
 'Hunting Rifle': '.45',
 'Minigun': 5,
 'Gamma Gun': 'Gamma Round',
 'Gatling Plasma': 'Plasma Core',
 'Ultracite Laser Gun': 'Fusion Cell',
 (7, 6): 2020,
 'Missile Launcher': 'Missile'}

In [51]:
# Delete entry by key

del(fo76_dict['Missile Launcher'])
fo76_dict

{'Handmade Rifle': 5.56,
 'Hunting Rifle': '.45',
 'Minigun': 5,
 'Gamma Gun': 'Gamma Round',
 'Gatling Plasma': 'Plasma Core',
 'Ultracite Laser Gun': 'Fusion Cell',
 (7, 6): 2020}

In [53]:
# Verify if an element is in dictionary

print('Is the Missile Launcher in fo76_dict?', 'Missile Launcher' in fo76_dict)
print('Is the Gamma Gun in fo76_dict?', 'Gamma Gun' in fo76_dict)

Is the Missile Launcher in fo76_dict? False
Is the Gamma Gun in fo76_dict? True

### 2.4.1 Dictionaries Quiz

In [54]:
# In the dictionary soundtrack_dic what are the keys?

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [55]:
# In the dictionary soundtrack_dic what are the values?

soundtrack_dic.values()

dict_values(['1992', '1977'])

In [57]:
# The albums Back in Black, The Bodyguard and Thriller have sales in millions 
# 50, 50 and 65 respectively
# Create a dictionary album_sales_dict where the keys are the album name and 
# the sales in millions are the values

album_sales_dict = {'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [58]:
# Use the dictionary to find the total sales of Thriller

album_sales_dict['Thriller']

65

In [59]:
# Find the names of the albums from the dictionary using the method keys()

album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [60]:
# Find the values of the recording sales from the dictionary using the method 
# values()

album_sales_dict.values()

dict_values([50, 50, 65])

In [61]:
# What is the result of D.values()?

D = {'a': 0, 'b': 1, 'c': 2}
D.values()

dict_values([0, 1, 2])

In [62]:
# What is the output of D['b']?

D['b']

1

In [9]:
# What is the result of the operation Dict['D'] on the 
# following python dictionary?

Dict = {'A':1, 'B':'2', 'C':[3,3,3], 'D':(4,4,4), 'E':5, 'F':6}
Dict['D']

(4, 4, 4)